body {
  color: #572e9c
}
.App {
  text-align: center;
}
.taskContainer{
  background-color: #e3c2ec;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  padding: 10px 140px 10px 15px;
  font-size: 1.5rem;
  text-align: left;
  position: relative; 
}
.taskNumber {
  color:#b892f7;
  border:1px solid rgb(145, 100, 145);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  margin-right: 8px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.taskContainer .done .taskText{
  text-decoration: line-through;
  opacity: 0.3;
}
.taskContainer div{
  display: flex;
  align-items: center;
}
.iconsContainer {
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 1.2rem;
width: auto;
display: inline-block;
}

.iconsContainer span {
  margin: 0px 10px 0px 10px;
  display: inline-block;
  cursor: pointer;
}
.iconsContainer span:hover {
  color:#b892f7
}